#tooltipbox {
    font-family: sans-serif;
    color: #777777;
    font-align: center;
}

span.label {
    color: #555555;
}

#char_td {
    font-size: 400%;
    vertical-align: top;
    color: #436f67;
}

#roman_td {
    font-weight: bold;
}